/*.row div{
    height: 300px;
    background: #333;
}

.container .row{
    margin-top: 50px;
}
*/

/*Spoiler*/
a.spoiler:after {
    content: " [-]";
}

a.spoiler.collapsed:after {
    content: " [+]";
}